<!DOCTYPE html>
<html>
  <head>
    <title>AB-testing</title>

    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.3.2/css/bootstrap.min.css" />
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.3.2/css/bootstrap-responsive.min.css" />
    <link href="/css/style.css" rel="stylesheet" />

    <script data-main="/js/main.js" src="//cdnjs.cloudflare.com/ajax/libs/require.js/2.1.5/require.min.js"></script>

  </head>
  <body>

    <div class="masthead">
      <ul class="nav nav-pills pull-right">
        <li><a href="#/">Home</a></li>
        <li class="no-login-needed"><a href="#login">Login</a></li>
        <li class="no-login-needed"><a href="#signup">Register</a></li>
        <li><a href="#/statistics">Statistics</a></li>
        <li class="hide"><a href="#/create-test"><strong>Create new test</strong></a></li>
        <li class="hide"><a href="#/logout">Logout</a></li>
      </ul>
      <h3 class="muted"><a href="#/">AB testing</a></h3>
    </div>

    <hr>