<%= include header.ejs %>

<div class="container">
  <%
  if(error) {
  %>
    <div class="alert alert-error">
      <strong>Error :(</strong><br />
    </div>
  <%
  }
  %>

  <%= include ../public/js/templates/login.html %>

</div>

<%= include footer.ejs %>