<form class="form-signin" id="login">
  <h2 class="form-signin-heading">Please sign in</h2>
  <input type="text" name="email" class="input-block-level" placeholder="Email address" />
  <input type="password" name="password" class="input-block-level" placeholder="Password" />
  <label class="checkbox">
    <input type="checkbox" value="remember-me" /> Remember me
  </label>

  <p>
    <a href="#register">Register</a>
  </p>
  <button class="btn btn-large btn-primary" type="submit">Sign in</button>
</form>