<form class="form-signin" id="signup">
  <h2 class="form-signin-heading" id="signup-header">Please sign up</h2>

  <div class="control-group">
    <input type="text" name="email" class="input-block-level" placeholder="Email address" />
  </div>

  <div class="control-group">
    <input type="password" name="password" class="input-block-level" placeholder="Password" />
  </div>

  <div class="control-group">
    <input type="password" name="password2" class="input-block-level" placeholder="Password again" />
  </div>

  <p>
    <a href="#login">Login</a>
  </p>
  <button class="btn btn-large btn-primary" type="submit">Sign in</button>
</form>